@use '@/styles/global.scss' as v;

.msg-container {
  border-radius: 20px;
  background-color: v.$grey;
  padding: 10px 15px;
  max-width: 45% !important;

  @media (max-width:v.$smallw) {
    max-width: 65%;
  }
}


.msg-info-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-end; 
}


.msg-text-container {
  overflow-wrap: break-word; // Переносит длинные слова, если нет пробелов
  word-break: break-word; // Работает в WebKit, помогает в некоторых случаях
  white-space: pre-wrap; // Сохраняет пробелы, но позволяет перенос слов
}


