@use '@/styles/global.scss' as v;

.msg-container {
  border-radius: 20px;
  background-color: v.$grey;
  padding: 10px 15px;
  max-width: 65%;
}

.msg-info-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: flex-end;
  
}

.msg-text-container {
  word-break: keep-all;
}

