@use '@/styles/global.scss' as v;

.popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
  
  @media (max-width:v.$smallw) {
    align-items: start;
  }

  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

}

.popup-info-block {
  display: flex;
  gap: 20px;
  justify-content: center;
  
  .popup-info-text-block {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
  }

}


.popup-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Анимация самого контента */
.popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;

  background: v.$grey;
  padding: 20px;
  border-radius: 8px;
  z-index: 10000;
  
  opacity: 0;

  @media (max-width:v.$smallw) {
    transform: translateY(-100dvh);
    transition: opacity 0.3s ease, transform 0.5s ease-in-out;
    width: 95%;
    border-radius: 0px 0px 15px 15px;
  }
  transition: opacity 0.3s ease;
}

.popup-overlay.visible .popup-content {
  opacity: 1;
  transform: translateY(0);
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.popup-middle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10001;
}

.popup-close {
  color: v.$supergrey;
  cursor: pointer;

  &:hover {
    color: white;
  }
}


.user-avatar {
  flex-shrink: 0 !important;
  width: 40px;
  height: 40px;
  background-color: v.$overgrey;
  border-radius: 9999px;
}


.popup-text-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$postgrey;
  height: 30px;
  width: fit-content;
  min-width: 50px;
  padding: 0px 10px;
  border-radius: 10px;
  transition: background-color 0.15s ease-in-out;
}

.popup-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}