@use '@/styles/global.scss' as v;

.user-component {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 10px;
  transition: background-color 0.2s;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  
  &.searched {
    height: 40px;
    padding: 4px 10px;
    align-items: center;

    .user-last-message {
      display: none;
    }

    .user-avatar {
      width: 32px;
      height: 32px;
    }

    .user-last-time {
      display: none;
    }
  }
  
  &:hover {
    background-color: v.$postgrey;
  }

  &.highlight {
    background-color: v.$postgrey;
  }
}

.user-flex-component {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.user-text-component {
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.user-top-text-component {
  display: flex;
  justify-content: space-between;
}

.user-avatar {
  flex-shrink: 0 !important;
  width: 40px;
  height: 40px;
  background-color: v.$overgrey;
  border-radius: 9999px;
}

.user-last-message {
  max-width: 100%;
  min-width: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1; 
}