@font-face {
  font-family: 'SF-Pro';
  src: url('../assets/fonts/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$background: #131313;
$grey: #1A1A1A;
$postgrey: #222222;
$overgrey: #323232;
$supergrey: #626262;
$greytext: #535353;
$accent: #4F00ED;
$error: #b62323;
$hugew: 2500px;
$bigw: 1500px;
$middlew: 1000px;
$smallw: 500px;

// Reset CSS - сбрасывает стили и задаёт базовые параметры
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,
body,
#root {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background; // Полностью черный фон
  color: #fff; // Белый текст для контраста
  font-family: 'SF-Pro', sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  min-height: 100dvh;
  overflow: hidden;
}

.flex-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}


button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  color: inherit;
  flex-grow: 1;
}

// Стили для основных текстовых тегов
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  font-size: 1.6rem;
  line-height: 1;
}

// Улучшение рендеринга изображений
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Улучшение таблиц
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #333;
}

input {
  width: 100%;
  height: 40px;
  background-color: $grey;
  border-radius: 10px;
  font-size: 1.6rem;
  padding-inline: 0.6em;
  transition: all 0.2s;

}

.greyed-text {
  color: $greytext;
  font-size: 1.2rem;
}

.super-greyed-text {
  color: $supergrey;
  font-size: 1.2rem;
}

.greyed-span-text {
  color: $greytext;
}

.super-greyed-span-text {
  color: $supergrey;
}

.colored-text {
  color: $accent;
}

.error-text {
  color: $error;
  font-size: 1.2rem;
}

.text-highlighter {
  background-color: $grey;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.1s;
  user-select: none;
  z-index: 10;

  &:hover {
    background-color: $overgrey;
  }
}

.display-none {
  display: none !important;
}




.cp-right-middle-container::-webkit-scrollbar {
  width: 10px;
  /* Толщина полосы */
  z-index: 8888;
}

.cp-right-middle-container::-webkit-scrollbar-track {
  background: $grey;
  /* Цвет фона скроллбара */
  border-radius: 10px;
  /* Закругление */
  z-index: 8888;
}

.cp-right-middle-container::-webkit-scrollbar-thumb {
  background: $overgrey;
  /* Цвет ползунка */
  border-radius: 10px;
  z-index: 8888;
}

@media(min-width: 0px) {
  .cp-right-middle-container {
    scrollbar-width: none;
    /* Убирает скроллбар в Firefox */
    -ms-overflow-style: none;
    /* Убирает скроллбар в IE и Edge */
    z-index: 8888;
  }

  .cp-right-middle-container::-webkit-scrollbar {
    display: none;
    /* Убирает скроллбар в Chrome, Safari */
    z-index: 8888;
  }

}

/* Общий класс skeleton */
.skeleton {
  display: inline-block;
  background: linear-gradient(90deg, $grey 0%, $overgrey 25%, $grey 50%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
  color: transparent;
  user-select: none;
}

/* keyframes для анимации */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}




.img-svg {
  display: block;
  animation: spin 1.5s infinite linear;
  overflow: hidden;
  transition: width 0.5s ease;
  width: 0px;
  flex-shrink: 0 !important;

  &.clicked {
    width: 20px !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}


.page-logo {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  img {
    width: 70px;
    height: 70px;
  }
}


.line {
  width: 100%;
  height: 1px;
  background-color: $postgrey;
}

.pointer {
  display: flex;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  color: $supergrey;

  &:hover {
    color: white;
  }
}

.unchosable {
  user-select: none;
  pointer-events: none;
}