@font-face {
  font-family: 'SF-Pro';
  src: url('../assets/fonts/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$grey: #1A1A1A;
$overgrey: #323232;
$blue: #4F00ED;
$background: #131313;
$middlew: 1000px;
$smallw: 500px;

// Reset CSS - сбрасывает стили и задаёт базовые параметры
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background; // Полностью черный фон
  color: #fff; // Белый текст для контраста
  font-family: 'SF-Pro', sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  min-height: 100dvh;
  overflow: hidden;
}

.flex-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}


button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  color: inherit;
  flex-grow: 1;
}

// Стили для основных текстовых тегов
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  font-size: 1.6rem;
  line-height: 1;
}

// Улучшение рендеринга изображений
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Улучшение таблиц
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #333;
}

input {
  width: 100%;
  height: 40px;
  background-color: $grey;
  border-radius: 10px;
  font-size: 1.6rem;
  padding-inline: 0.6em;
  transition: all 0.2s;
  border: 1px solid $overgrey
}

.greyed-text {
  color: $overgrey;
  font-size: 1.2rem;
}

.colored-text {
  color: $blue;
}

.text-highlighter {
  background-color: $grey;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.1s;
  user-select: none;
  z-index: 10;

  &:hover {
    background-color: $overgrey;
  }
}




.cp-right-middle-container::-webkit-scrollbar {
  width: 10px; /* Толщина полосы */
  z-index: 9999;
}

.cp-right-middle-container::-webkit-scrollbar-track {
  background: $grey; /* Цвет фона скроллбара */
  border-radius: 10px; /* Закругление */
  z-index: 9999;
}

.cp-right-middle-container::-webkit-scrollbar-thumb {
  background: $overgrey; /* Цвет ползунка */
  border-radius: 10px;
  z-index: 9999;
}

@media(max-width: $middlew) {
  .cp-right-middle-container {
    scrollbar-width: none; /* Убирает скроллбар в Firefox */
    -ms-overflow-style: none; /* Убирает скроллбар в IE и Edge */
    z-index: 9999;
  }
  
  .cp-right-middle-container::-webkit-scrollbar {
    display: none; /* Убирает скроллбар в Chrome, Safari */
    z-index: 9999;
  }

}


