@use '@/styles/global.scss' as v;

.pp-center-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pp-middle-block {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
