// /root/common/altushka/client/src/styles/UPstyle.scss

@use '@/styles/global.scss' as v;

.user-page-main {
  max-width: 100%;

  margin-inline: 0px;
  margin-top: 20px;
  justify-content: start;
}

.header-row-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0px 20px;
}

.chats-block {
  padding: 0px 10px;
}

@media(max-width:v.$smallw) {

  .chats-block {
    padding: 0;
  }

  .top-block {
    padding: 0px 10px;
  }

}
